.ChatWindow-Header{
    width: 100%;
    height: 50px;
    background-color: var(--secondary-color);
    border-bottom: 2px solid var(--accent-color2);
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ChatHeader-Title{
    background-color: transparent;
    border: 2px solid transparent;
    margin-left: 5px;
    font-size: 20px;
    color: var(--accent-color1);
}

.ChatHeader-Title:hover{
    border: 2px solid var(--accent-color2);
}

.ChatHeader-Title:focus-visible{
    border: 2px solid var(--accent-color2);
    outline: none;
}

.ChatHeader-Buttons{
    display: flex;
    margin-right: 5px;
}

.ChatHeader-Button{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid transparent;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    transform: 0.2s;
}

.ChatHeader-Button:hover{
    border: 2px solid var(--accent-color2);
    cursor: pointer;
}
