.UsersBar-Wrapper{
    background-color: var(--secondary-color);
    width: 250px;
    height: 100%;
    border-left: 2px solid var(--accent-color2);
}

.UsersBar-Username{
    margin-left: 5px;
}

.UsersBar-User{
    display: flex;
    align-items: center;
    border-radius: 15px;
}

.UsersBar-User:hover{
    background-color: var(--primary-color);
    cursor: pointer;
}

.UsersBar-UserStatus{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: gray;
    margin-left: 7px;
    
}

.UsersBar-Wrapper > h2{
    margin: 0;
    width: calc(100% - 20px);
    padding: 10px;
    border-bottom: 2px solid var(--accent-color2);
}