.PopupAuth{
    width: 300px;
    height: fit-content;
    background-color: var(--primary-color);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

body{
    background-image: url('../../assets/sl_0210121_40570_43.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.PopupLoginHeader h1{
    margin: 0;
}

.PopupLoginContainer input, .PopupSignupContainer input{
    background-color: var(--primary-color);
    color: var(--accent-color1);
    border: 2px solid var(--secondary-color);
    margin-top: 5px;
    width: 238px;
    padding: 4px;
    border-radius: 10px;
}

.PopupLoginContainer input:focus-visible, .PopupSignupContainer input:focus-visible{
    outline: none;
}

.PopupLoginContainer button, .PopupSignupContainer button{
    margin-top: 5px;
    width: 250px;
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    height: 30px;
    color: var(--accent-color1);
    transition: 0.3s;
}

.PopupLoginContainer button:hover, .PopupSignupContainer button:hover{
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    cursor: pointer;
    color: var(--accent-color3);
}